export(.onAttach,
       checkZone,
       getCentroid,
       getZones,
       openPlot,
       venn,
       plotRules)
importFrom("grDevices", "adjustcolor", "dev.cur", "dev.new")
importFrom("graphics", "lines", "par", "plot", "polygon",
           "polypath", "text")
importFrom("utils", "packageDescription", "read.csv")
